PORT=3001
FRONTEND_URL=http://localhost:3000
JWT_SECRET=pikantepe9898303340_:WQWE080497
JWT_EXPIRES=7d

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123456
DB_NAME=pikantepe

REDIS_URL=redis://localhost:6379

# Límite de subida de video en MB (default 6144 = 6 GB)
MAX_VIDEO_MB=6144
